MONGODB_URI=
BETTER_AUTH_SECRET=
NEXT_PUBLIC_BASE_URL=http://localhost:3000
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_DEMO_EMAIL=tagarazo@mailinator.com
NEXT_PUBLIC_DEMO_PASSWORD="Pa$\$w0rd!"